.main-body {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgba(229, 228, 226, 0.3);

}

.i1 img {
height: 40rem;
    display: flex;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 10rem;
}

.text h3 {
    display: flex;
    padding: 10rem 5rem 0rem 5rem;
    font-size: 40px;
    text-shadow: 4px 4px 8px silver;
}

.text p {
    display: flex;
    padding: 1.5rem 5rem 5rem 5rem;
    font-size: 1.2rem;
    font-weight: 500;
    
}

/* #################MOBILE############################# */
@media(max-width:1080){

.main-body{
    width: 100%;
    height: auto;
    grid-template-columns: auto auto;
}

}


/* ############################### */

@media (max-width: 520px) {
    .main-body{
width: 100%;
grid-template-columns: auto;
    }

    
}
    
